<!-- <mat-accordion  multi>
    <mat-expansion-panel  *ngFor="let attribute of component.attributes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{attribute.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{attribute.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      {{attribute.value}}
  
    </mat-expansion-panel>
</mat-accordion> -->

<div  *ngFor="let attribute of componentWrapper.component.attributes">
  <mat-card *ngIf="allowed(attribute)" style="margin-bottom: 6px; width: 100%;">
    <mat-card-header>

      <!-- <div mat-card-avatar *ngIf></div> -->

      <mat-card-title>{{attribute.name}}</mat-card-title>
      <!-- <mat-card-subtitle>{{attribute.name}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content style="max-width: 500px !important;">
      <ng-container [ngSwitch]="attribute.type">
        <app-text-attribute *ngSwitchCase="'text'" [attribute]="attribute"></app-text-attribute>
        <app-number-attribute *ngSwitchCase="'number'" [attribute]="attribute"></app-number-attribute>
        <app-enum-attribute *ngSwitchCase="'enum'" [attribute]="attribute"></app-enum-attribute>
        <app-text-attribute *ngSwitchDefault  [attribute]="attribute"></app-text-attribute>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>


