<div fxLayout="column" fxLayoutAlign="space-around start" *ngIf="this.element">
    <mat-toolbar fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" style="background-color: #ffffff;">
        <img *ngIf="componentWrapper.component.img" style="width: 50px; height:50px"
        class="mat-grid-tile_img"
        [src]="componentWrapper.component.img"
        alt="{{componentWrapper.component.name}}"
        title="{{componentWrapper.component.name}}">
        <h2 >{{componentWrapper.component.name}}</h2>
    </mat-toolbar>

    <mat-list>
      <div mat-subheader> Name</div>
      <mat-list-item>
        <mat-form-field>
          <input matInput="Name" [(ngModel)]="name" (keyup)="updateFilter()" [matAutocomplete]="matAutocompleteInstance">
        </mat-form-field>
        <mat-autocomplete #matAutocompleteInstance="matAutocomplete">
          <mat-optgroup [label]="'Create new Instance'" *ngIf="!existsName(name) && name.length">
            <mat-option [value]="name" (onSelectionChange)="(onSelectCreateNewInstance(name))">
              {{name}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup [label]="'Rename existing Instance'" *ngIf="!existsName(name) && name.length">
            <mat-option [value]="name" (onSelectionChange)="(onSelectRenameInstance(name))">
              {{name}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup [label]="'Use existing Instance'" *ngIf="(filteredPossibleInstances).length > 0 && name.length">
            <mat-option *ngFor="let i of filteredPossibleInstances" [value]="i.component.getAttribute('name').value"
              (onSelectionChange)="(onSelectExistingInstance(i))">
              {{i.component.getAttribute('name').value}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

<app-attribute-list  [componentWrapper]="componentWrapper"></app-attribute-list>

<mat-action-list>
  <app-component-tree [componentWrapper]="componentWrapper" [direction]="true">Change to more general</app-component-tree>
  <app-component-tree [componentWrapper]="componentWrapper" [direction]="false">Be more specific</app-component-tree>
</mat-action-list>

</div>